<div id="content" class="container">
    <div id="listings" class="container">
        <% @places.each do |place| %>
            <%= content_tag(:div, class: "place listing container", id: "place_#{place.id}", data: { price: place.price, rooms: place.rooms, bathrooms: place.bathrooms, for: place.for } ) do %>
                <%= render place %>
            <% end %>
        <% end %>
    </div>
    
    <div id="infiniteScrolling">
        <%= will_paginate @places %>
    </div>
</div>

<div id="options" class="container">
    <%= render 'facets' %>